html, body{
    background-color: #1b262c;
    padding:0;
    margin:0;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    /* font-family: 'Roboto', sans-serif; */
}

section{
    height:100vh;
}

.main-heading{
    background-color: #1b262c;
    margin:0;
    text-align:center;
    height:100vh;
    padding:1rem;
    display: flex;
    flex-direction: column;
    margin:0;
    align-items:center;
    
}
.main-heading h1{
    font-size:9vw;
    background-color:#1b262c;
    color:#eaf0f3;
    text-align:center;
    margin-top:30rem;
    margin-bottom: 1rem;
    
    
}
.main-heading p{
    font-size:5vw;
    color:rgb(179, 179, 179);
    text-align:center;
    font-family: 'Roboto', sans-serif;
    
}
.main-heading a{
    font-size:2rem;
    background-color: #1b262c;
    color:#eaf0f3;
    padding:1rem 2rem;
    border:solid;
    border-color: #eaf0f3;
    text-align:center;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    width:max-content;
    transition: background-color 0.2s ease;

}
.main-heading a:hover{
   background-color: #049bc9;

}
.projects{
  height:max-content;
  background-color: white;
  padding: 1rem;
  padding-bottom: 3rem;
}
.projects h2{
    background-color: white;
    height: 10%;
    
    font-weight:100;
    font-size:5rem;
    text-align: center;
    color:#1b262c;
    margin-bottom: 4rem;
}
.projects-container{
    background-color: rgb(255, 255, 255);
    padding:1rem 10rem 1rem 10rem;
    display:grid;
    grid-template-columns: repeat(auto-fit, 350px);
    grid-auto-rows: 250px;
    grid-gap:2rem;
    height:90%;
    justify-content: center;
    
}
.project-card{
    color:#1b262c;
    padding:0;
    border-radius:1rem;
    text-align:center;
    box-shadow: 2px 2px 5px 2px rgb(207, 207, 207); 
    background:white;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-card::before{
    position: absolute;
    content: "";
    color:white;
    border-radius: inherit;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #1b262c;
    z-index: -1;
    transition: opacity 0.2s ease;
    opacity: 0;
}

.project-card:hover::before {
    opacity: 1;
  }

.project-card:hover .project-title{
    opacity: 0;
}
.project-card:hover .project-desc{
    opacity: 1;
}
.project-card:hover .project-button{
    opacity: 1;
}

.project-title{
    color:rgba(255, 255, 255, 1);
    font-size: 3.75rem;
    font-weight:500;
    line-height: 1;
    letter-spacing: 4px;    
    margin:0px 0px;
    transition: color 0.2s ease;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.project-desc{
    color:rgba(255, 255, 255, 1);
    font-size:2.75rem;
    margin:6rem 3rem 2rem 3rem;
    opacity:0;
    transition: opacity 0.2s ease;
    height:10rem;
    overflow:hidden;
}

.project-button{
        font-size:2rem;
        background-color:rgb(4,155,201, 0);
        color:#eaf0f3;
        padding:1rem 2rem;
        border:solid 2px;
        border-color: #049bc9;
        border-radius: 4rem;
        text-align:center;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        width:max-content;
        opacity:0;
        z-index: 2;
        transition: opacity, background-color 0.2s ease;
        position: absolute;
        left:50%;
        bottom:15%;
        transform: translateX(-50%);
}

.project-button:hover{
    background-color:rgb(4,155,201, 1);
    cursor: pointer;
}

.tiler{
    background: linear-gradient(to bottom right, #3088f3, #7031ac);
}
.inv-management{
    background: linear-gradient(to bottom right, #654ea3, #eaafc8);
    /* background: linear-gradient(to bottom right, #c94b4b, #4b134f); */
}

footer{
    height:20vh;
}

@media (min-width: 700px) {
    .main-heading{
        margin:0rem 0rem 0rem 10rem ;
        align-items:flex-start;
    }
    .main-heading h1 {
        font-size: 5.5rem;
        width:max-content;
    }
    .main-heading p{
        font-size:2.5rem;
        width:max-content;
        margin-top:1rem;
    }

    .main-heading button{
        font-size:2rem;
    }

    .project-title{
        font-size: 3.75rem;
        letter-spacing: 5px;
        font-weight:500;
    }
    .projects-container{
        grid-template-columns: repeat(auto-fit, 400px);
    }
  }